.user {
    background-color: #677ac4;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.xxx{
    margin-left: 1000px;
}